<div id="nav">
  <ul>
    <li class=""><a href="#/checkout/shipment">Выбор способа доставки</a></li>

    <li class=""><a href="#/checkout/payment">Выбор способа оплаты</a></li>

    <li class=""><a href="#/checkout/product">Выбор курса</a></li>

    <li class=""><a href="#/checkout/checkout">Заказ</a></li>
  </ul>
</div>

<div class="checkout-cart-content" style="height: 270px">
  <div class="left">
    <h2 style="background: left top url(images/basket.png) no-repeat; padding-left: 28px;">Корзина</h2>
    <div id="selected" class="product-grid content">
    </div>
  </div>

  <div class="right">
    <h2 style="background: left top url(images/package.png) no-repeat; padding-left: 28px;">Доставка</h2>
    <div class="content">
      <div class="cart-total">
        <table width="100%">
          <tr>
            <td colspan="5"></td>
            <td class="right"><b>Итого:</b></td>
            <td class="right">&nbsp;</td>
          </tr>
        </table>
      </div>
    </div>

    <div class="buttons">
      <a href="#" class="button"><span>Оформить заказ</span></a>
    </div>
  </div>
</div>

<div>
<h2>Курс</h2>
<div id="available" class="product-list"></div>
</div>
