@(form: Form[(String, String, Boolean, String)], _url: String, _type: String = "account")
    <h2>@Messages("text_returning_customer")</h2>
    @helper.form(routes.Application.authenticate, ('id, "login" + _type)) {

        <input type="hidden" name="returnUrl" value="@form("returnUrl").value.getOrElse(_url)"/>
        <div class="content" style="padding-top: 15px">
          <table class="login-form">
            @if(_type != "shipment") {
            <tr>
              <td colspan="3"><b>@Messages("text_i_am_returning_customer")</b></td>
            </tr>
            }
            <tr>
              @form.forField("username") { field =>
              <td valign="top"><label for="@field.name" @field.error.map { _ => class="error" }>@Messages("entry_email")</label></td>
              <td><input type="text" name="@field.name" value="@field.value" tabindex="1" autofocus="true"/>
                @field.error.map { _ =>
                  <br/><span class="error">@Messages("error_username")</span>
                }
              </td>
              }
              <td valign="top"><input type="checkbox" name="remember" id="remember" value="true" @if(form("remember").value) {checked="true"} tabindex="3"/>
                <label for="remember">@Messages("secure.remember")</label></td>
            </tr>
            <tr>
              @form.forField("password") { field =>
              <td><label for="password" @field.error.map { _ => class="error" }>@Messages("entry_password")</label></td>
              <td><input type="password" name="password" value="@field.value" tabindex="2"/>
                @field.error.map { _ =>
                  <br/><span class="error">@Messages("error_login_password")</span>
                }
              </td>
              }
              <td><a href="#">@Messages("text_forgotten")</a></td>
            </tr>
            <tr>
              <td colspan="3">
                <a onclick="$('#login@_type').submit();" class="button"><span>@Messages("button_login")</span></a>
              </td>
          </table>
        </div>

        
    }    
