#{extends 'main.html' /}
#{set title:'Йога для будущих мам' /}

#{nav checkout:'active'/}

    #{if flash.attention}
    <div class="attention">&{flash.attention}</div>
    #{/if}    
    #{if flash.success}
    <div class="success">&{flash.success}</div>
    #{/if}
    #{if flash.error}
    <div class="warning">&{flash.error}</div>
    #{/if}

  <form action="@{setProduct()}" method="post" enctype="multipart/form-data" id="cart">
    
  <div class="checkout-cart-content">
    <div class="left">
      <h2 style="background: left top url(@{'/public/images/basket.png'}) no-repeat; padding-left: 28px;">&{'heading_cart'}</h2>
      <div id="selected" class="product-grid content"></div>
    </div>

    <div class="right">
      <h2 style="background: left top url(@{'/public/images/package.png'}) no-repeat; padding-left: 28px;">Доставка</h2>
      <div class="content">
        <div class="cart-total">
          <table>
            <tr>
              <td colspan="5"></td>
              <td class="right"><b>&{'text_total'}:</b></td>
              <td class="right">${cart.total}</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="buttons">
        <a href="@{checkout}" class="button"><span>&{'button_checkout'}</span></a>
      </div>
    </div>
  </div>

  <h2>Курс</h2>
  <div id="available" class="product-list"></div>
  
  </form>
  
#{set 'moreScripts'}
#{get 'moreScripts'/}
<script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js" charset="${_response_encoding}"></script>
<script id="selectedTemplate" type="text/x-jquery-tmpl">
  <div id="selected-{{= id }}" {{if !selected}} style="display:none" {{/if}}>
    {{if typeof thumb != 'undefined'}}
    <div class="image"><a href="{{= url }}"><img src="{{= thumbUrl }}" title="{{= name }}" alt="{{= name }}" id="image{{= id }}" /></a></div>
    {{/if}}
    <div class="name"><a href="{{= url }}">{{= name }}</a></div>
    <div class="price">
    <label>Цена:</label>
    {{if price}}
      {{if typeof special == 'undefined'}}
      {{= price }} 
      {{else}}
      <span class="price-old">{{= price }}</span> <span class="price-new">{{= special }}</span>
      {{/if}}
    {{/if}}
    </div>
    <div class="quantity">
      <label for="count_disc11">Количество:</label>
      <select name="qties.{{= id }}" class="select_qty">
      <option value="1" selected="selected">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>                                            
      </select> шт.
    </div>
    <div class="remove"><a class="ui-icon ui-icon-trash" title="Убрать из корзины" href="#" onclick="return removeFromCart('@{removeFromCart()}', {{= id }}, '@{'/public/images'}')">Убрать из коризны</a></div>
  </div>
</script>
<script id="availableTemplate" type="text/x-jquery-tmpl">
    <div id="available-{{= id }}" {{if selected}} style="display:none" {{/if}}>
      <div class="right">
        <div class="cart"><a onclick="addToCart('@{Checkout.addToCart}', {{= id }}, $('#image{{= id }}'), 1, '@{'/public/images'}');" class="button"><span>&{'button_cart'}</span></a></div>
      </div>
      <div class="left">
          {{if typeof thumb != 'undefined'}}
        <div class="image"><a href="{{= url }}"><img src="{{= thumbUrl }}" title="{{= name }}" alt="{{= name }}" id="image{{= id }}" /></a></div>
        {{/if}}
        <div class="price">
        <label>Цена:</label>
        {{if price}}
          {{if typeof special == 'undefined'}}
          {{= price }} 
          {{else}}
          <span class="price-old">{{= price }}</span> <span class="price-new">{{= special }}</span>
          {{/if}}
        {{/if}}
        </div>
        <div class="name"><a href="{{= url }}">{{= name }}</a></div>
        <div class="description">{{= description }}</div>
      </div>
    </div>
</script>

<script type="text/javascript"><!--
var products = {
  #{list items:products, as:'product'}
  ${product.id} : {
      id: ${product.id},
      name: '${product.name}',
    #{if product.thumb}
      thumb: '${product.thumb}',
      thumbUrl: '@{'/public/images'}/${product.thumb}',
    #{/if}
      description: '${product.description.substring(0, 100)}...',
    #{if product.special} <!-- TODO: discount on quantity
      special: '&{'format_price', product.special.format('0')}',
    #{/if}
      url: '@{Catalog.show(product.id)}',
    #{if cart.items.containsKey(product.id)}
      selected: true,
      quantity: ${cart.items[product.id].quantity},
      price: '&{'format_price', cart.items[product.id].price.format('0')}',
    #{/if}
    #{else}
      selected: false,
      price: '&{'format_price', product.price.format('0')}',
    #{/else}
    },
  #{/list}
};

$(function() {
    var $products = $.map(products, function(p) { return p }); // convert to array
    $('#selected').html($('#selectedTemplate').tmpl($products));
    $('#available').html($('#availableTemplate').tmpl($products))
});
--></script>
#{/set}

