#menu {
    height: 60px;
    font: 14px/20px arial,sans-serif;
    text-align: center;
    float: right;
    margin-top: 30px;
}

#menu ul {
    border: #CCC 1px dotted;
    border-left: 0px;
    border-right: 0px;
    float: right;
    padding: 2px;
    margin: 0;
    list-style: none;
}

#menu ul li:nth-child(1) {
    border-right: #CCC 1px dotted;
    color: white;
    float: left;
    padding: 5px;
    width: 80px;
    cursor: pointer;
    vertical-align: center;
}
#menu ul li:nth-child(2), #menu ul li:nth-child(3) {
    border-right: #CCC 1px dotted;
    float: left;
    padding: 5px;
    width: 100px;
    cursor: pointer;
}
#menu ul li:nth-child(4) {
    float: left;
    padding: 5px;
    width: 110px;
    cursor: pointer;
}
#menu a {
    font-size: 13px;
    color: #333;
    line-height: 16px;
    text-decoration: none;
    display: block;
    z-index: 6;
    position: relative;
    opacity:1;
}
#menu a:hover {
    text-decoration: underline;
}
