<div id="available-{{= id }}" {{if selected}} style="display:none" {{/if}}>
  <div class="right">
    <div class="cart"><a onclick="addToCart('/checkout/addToCart', {{= id }}, $('#image{{= id }}'), 1, 'images')" class="button"><span>Добавить в корзину</span></a></div>
  </div>
  <div class="left">
      {{if typeof thumb != 'undefined'}}
    <div class="image"><a href="{{= url }}"><img src="images/{{= thumb }}" title="{{= name }}" alt="{{= name }}" id="image{{= id }}" /></a></div>
    {{/if}}
    <div class="price">
    <label>Цена:</label>
    {{if price}}
      {{if typeof special == 'undefined'}}
      {{= price }} 
      {{else}}
      <span class="price-old">{{= price }}</span> <span class="price-new">{{= special }}</span>
      {{/if}}
    {{/if}}
    </div>
    <div class="name"><a href="{{= url }}">{{= name }}</a></div>
    <div class="description">{{= description }}</div>
  </div>
</div>
