<div id="nav">
  <ul>
    <li class="active"><a href="#/checkout/shipment">Выбор способа доставки</a></li>

    <li class="active"><a href="#/checkout/payment">Выбор способа оплаты</a></li>

    <li class="disabled">Выбор курса</li>

    <li class="disabled">Заказ</li>
  </ul>
</div>

<h2>Способ оплаты</h2>

<p>Курс можно оплатить следующими способами:</p>

<form action="#/checkout/payment" method="post" enctype="multipart/form-data" id="payment">
  
<div class="warning" style="display: none">${i18n('error_payment_gateway')}</div>

<div id="accordion">
  {{each(i, category) categories}}
  <h3><a name="${category}">${i18n('pgwc_' + category)}</strong></a></h3>
  <div class="checkout-content">
    {{each(j, gateway) gateways}}
    {{if $.inArray(category, gateway.categories) >= 0}}
      <div class="pgw">
      <input id="radio-${category}-${gateway.name}" type="radio" value="${gateway.name}" name="gateway">
      <label for="radio-${category}-${gateway.name}">${i18n('pgw_' + gateway.name)}
        <img alt="подсказка" src="images/help.gif" class="tip_help" title="${i18n('pgw_' + gateway.name + '_tooltip')}">
        <div><img alt="картинка" src="images/${gateway.name}.png"></div>
      </label>
      </div>
    {{/if}}
    {{/each}}
  </div>
  {{/each}}
</div>

<div class="checkout-content">
  <div class="buttons">
    <a onclick="$('#payment').submit();" class="button"><span>${i18n('button_continue')}</span></a>
  </div>
</div>

</form>

<script type="text/javascript">
  $("#accordion").accordion({autoHeight:false, navigation:true, navigationFilter: function() {
    return this.name == '${app.store.get("cart").gateway_category}';
  } });
  $('input').customInput();
  $(".tip_help").tipTip({maxWidth: "250px", edgeOffset: 3});
  
  $("#payment").validate({
    rules: {
      gateway: "required"
    },
    errorPlacement: function(error, element) {
      $('div.warning').show().delay(3000).fadeOut();
    },
    onkeyup: false
  });
  
</script>
