<div id="selected-{{= id }}" {{if !selected}} style="display:none" {{/if}}>
  {{if typeof thumb != 'undefined'}}
  <div class="image"><a href="{{= url }}"><img src="images/{{= thumb }}" title="{{= name }}" alt="{{= name }}" id="image{{= id }}" /></a></div>
  {{/if}}
  <div class="name"><a href="{{= url }}">{{= name }}</a></div>
  <div class="price">
  <label>Цена:</label>
  {{if price}}
    {{if typeof special == 'undefined'}}
    {{= price }} 
    {{else}}
    <span class="price-old">{{= price }}</span> <span class="price-new">{{= special }}</span>
    {{/if}}
  {{/if}}
  </div>
  <div class="quantity">
    <label for="count_disc11">Количество:</label>
    <select name="qties.{{= id }}" class="select_qty">
    <option value="1" selected="selected">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option><option value="6">6</option><option value="7">7</option><option value="8">8</option><option value="9">9</option><option value="10">10</option><option value="11">11</option><option value="12">12</option>                                            
    </select> шт.
  </div>
  <div class="remove"><a class="ui-icon ui-icon-trash" title="Убрать из корзины" onclick="removeFromCart('/checkout/removeFromCart', {{= id }}, 'images')">Убрать из коризны</a></div>
</div>
