#{extends 'main.html' /}
#{set title:'Йога для будущих мам - Форма Заказа' /}

#{nav shipment:'active', payment:'disabled', cart:'disabled', checkout:'disabled'/}

<h2>Форма заказа</h2>

<p>Курс можно заказать следующими способами доставки:</p>
<p><img align="left" style="margin-right:15px;" src="@{'/public/images'}/PostBox.jpg">
1. <strong>DVD-диск с доставкой по почте в любую точку мира.</strong> </p>
<p>Достоинство этого способа доставки в том, что вам придет лицензионный диск в красивой коробке
и со всей полиграфией (обложка, графика диска).</p>
<p>Обратная сторона медали: посылку придется подождать 4-12 дней, в зависимости от места вашего
проживания и заплатить за доставку, что немного увеличит итоговую цену. </p>
<p><img align="left" style="margin-right:15px;" src="@{'/public/images'}/download.jpg">
2. <strong>Скачать курс с нашего сервера</strong>, оплатив его любым из представленных способов оплаты,
кроме наложенного платежа.</p>
<p>Если вы выберете этот способ доставки, то сможете начать занятия по курсу гораздо быстрее.
Как только оплата поступит на наш счет, вы получите ссылки на скачивание курса с нашего сервера. </p>
<p>В этом способе вы экономите на доставке и времени, но с другой стороны у вас не будет физической копии курса.
Также имейте в виду, что этот вариант подходит для тех, у кого быстрый и безлимитный доступ к Интернету. </p>
