@(cart: Cart, products: List[Product], gateways: List[Gateway])(implicit flash: Flash, request: RequestHeader, user: Option[User])

@main(Messages("product")) {

@tags.nav()

<div class="checkout-cart-content">
  <div class="left">
    <h2 style="background: left top url(@routes.Assets.at("images/basket.png")) no-repeat; padding-left: 28px;">Корзина</h2>
    <div class="product-grid content">
      @for(product <- products) {
      <div id="selected-@{product.product_id}" @if(!cart.items.contains(product.product_id.get)) {style="display:none"}>
        @if(product.thumb != null) {
        <div class="image"><a href="#"><img src="@routes.Assets.at("images/" + product.thumb)" title="@{product.name}" alt="@{product.name}" id="selected-image-@{product.product_id}" /></a></div>
        }
        <div class="name"><a href="#">@{product.name}</a></div>
        <div class="price">
        <label>Цена:</label>
        @if(product.price != 0) {
          @if(product.special == 0) {
          @{product.price}
          } else {
          <span class="price-old">@{product.price}</span> <span class="price-new">@{product.special}</span>
          }
        }
        </div>
        <div class="quantity">
          <label for="count_disc11">Количество:</label>
          <select id="selected-qty-@{product.product_id}" class="select_qty selected-qty" productId="@{product.product_id}">
            @for(i <- 1 to 12) {
            <option value="@i" @if(cart.items.contains(product.product_id.get) && cart.items(product.product_id.get).quantity == i) {selected="true"}>@i</option>
            }
          </select> шт.
        </div>
        <div class="remove"><a class="ui-icon ui-icon-trash removeFromCart" title="Убрать из корзины" productId="@product.product_id.get">Убрать из корзины</a></div>
      </div>
      }
    </div>
  </div>

  <div class="right">
    <h2 style="background: left top url(@routes.Assets.at("images/package.png")) no-repeat; padding-left: 28px;">Заказ</h2>
    <div id="cart_total" class="content">
    @tags.total(cart, gateways)
    </div>

    <div class="buttons">
      <form action="#" method="post" enctype="multipart/form-data" id="checkout"></form>
      <a id="checkout-button" class="button"><span>Оформить заказ</span></a>
    </div>
  </div>
</div>

<div>
<h2>Курс</h2>
<div class="product-list">
  @for(product <- products) {
  <div id="available-@{product.product_id}" @if(cart.items.contains(product.product_id.get)) {style="display:none"}>
    @if(product.thumb != null) {
    <div class="image"><a href="#"><img src="@routes.Assets.at("images/" + product.thumb)" title="@{product.name}" alt="@{product.name}" id="available-image-@{product.product_id}" /></a></div>
    }
    <div class="price">
      <label>Цена:</label>
      @if(product.price != 0) {
        @if(product.special == 0) {
        @{product.price}
        } else {
        <span class="price-old">@{product.price}</span> <span class="price-new">@{product.special}</span>
        }
      }
      <div class="quantity">
        Количество:
        <select id="available-qty-@{product.product_id}" class="select_qty">
        @for(i <- 1 to 12) {
        <option value="@i">@i</option>
        }
        </select> шт.
      </div>
      <div class="buttons"><a class="button addToCart" productId="@product.product_id.get"><span>Добавить в корзину</span></a></div>
    </div>
    <div class="name"><a href="#">@{product.name}</a></div>
    <div class="description">@Html(product.description.substring(1, product.description.indexOf("</p>")) + "...</p>")</div>
  </div>
  }
</div>

@user.map { user =>
<div id="dialog" style="display: none">
  @tags.register(Account.addressForm(user), routes.Checkout.checkout.url, routes.Checkout.setshipmentAndRegister("ship"), "ship")
</div>
}

<script type="text/javascript">
$('a.addToCart').click(function() {
  var productId = $(this).attr('productId');
  var quantity = $('#available-qty-' + productId).val();
  var image_el = $('#available-image-' + productId);
  return addToCart(productId, quantity, image_el);
});

$('select.selected-qty').change(function() {
  var productId = $(this).attr('productId');
  var quantity = $(this).val();
  var image_el = $('#selected-image-' + productId);
  return addToCart(productId, quantity, image_el);
});

$('a.removeFromCart').click(function() {
  var productId = $(this).attr('productId');
  return removeFromCart(productId);
});

$('select#payment').live('change', function() {
  var payment = $(this).val();
  var category = $("option:selected", this).attr("category");
  return updateCart(jsRoutes.controllers.Checkout.updatePayment().ajax, {gateway: payment, _category: category}, function() {
  })
});

$('select#shipment').live('change', function() {
  var shipment = $(this).val();
  return updateCart(jsRoutes.controllers.Checkout.updateShipment().ajax, {shipment: shipment}, function() {
  })
});

$('a#checkout-button').live('click', function(event) {
  @if(false /* address */ ) {
    $('#checkout').submit()
  } else {
    var shipment = $('select#shipment').val();
    if (shipment != 'download') {
      $('#dialog').dialog('open')
    } else {
      $('#checkout').submit()
    }
  }
});

$('a.dialog').live('click', function() {
  $('#dialog').dialog({modal: true, title: '@Messages("text_your_address")', close: function(e, ui) {
    $(this).dialog('destroy');
  }});
}); 
</script>

}(flash, request, user.map(_.email))
