@(cart: Cart, gateways: Map[String, List[String]])(implicit flash: Flash, request: RequestHeader, user: Option[String])

@main(Messages("product")) {

@tags.nav(product = "disabled", checkout = "disabled")

<h2>Способ оплаты</h2>

<p>Курс можно оплатить следующими способами:</p>

@helper.form(routes.Checkout.setpayment, ('id, "payment")) {

  <input id="category" type="hidden" name="_category" value="@cart._category"/>
  
<div class="warning" @if(!flash.get("error")) {style="display: none"}>@Messages("error_payment_gateway")</div>

<div id="accordion">
  @for(category <- gateways.keys.toSeq if cart.shipment != "download" || category != "ondelivery") {
  <h3><a name="@category">@Messages("pgwc_" + category)</strong></a></h3>
  <div class="checkout-content">
    @for(gateway <- gateways(category)) {
      <div class="pgw">
      <input id="radio-@category-@gateway" type="radio" value="@gateway" name="gateway"
      @if(cart.payment == gateway) {checked="true"}/>
      <label for="radio-@category-@gateway">@Messages("pgw_" + gateway)
        <img alt="подсказка" src="@routes.Assets.at("images/help.gif")" class="tip_help" title="@Messages("pgw_" + gateway + "_tooltip")"/>
        <div><img alt="картинка" src="@routes.Assets.at("images/" + gateway + ".png")"/></div>
      </label>
      </div>
    }
  </div>
  }
</div>

<div class="checkout-content">
  <div class="buttons">
    <a onclick="$('#payment').submit();" class="button"><span>@Messages("button_continue")</span></a>
  </div>
</div>

}

<script type="text/javascript">
  $("#accordion").accordion({
    autoHeight:false, navigation:true,
    navigationFilter: function() {
     return this.name == $('input#category').val();
    },
    change: function(event, ui) {
      $('input#category').val(ui.newHeader.find('a').attr('name'));
    }
  });
  $('input').customInput();
  $(".tip_help").tipTip({maxWidth: "250px", edgeOffset: 3});
  
  $("#payment1").validate({
    rules: {
      gateway: "required"
    },
    errorPlacement: function(error, element) {
      $('div.warning').show().delay(3000).fadeOut();
    },
    onkeyup: false
  });
  
</script>
}