#menu {
    height: 60px;
    font: 14px/20px arial,sans-serif;
    text-align: center;
    float: right;
    margin-top: 30px;
}
#menu ul {
    border: #CCC 1px dotted;
    border-left: 0px;
    border-right: 0px;
    float: right;
    padding: 2px;
    margin: 0;
    list-style: none;
}
#menu ul li {
  float: left;
  padding: 5px;
  cursor: pointer;
  border-right: #CCC 1px dotted;
  width: 100px;
}
#menu ul li.first-child {
    width: 80px;
}
#menu ul li.last-child {
    border-right: none;
    width: 110px;
}
#menu a {
    font-size: 13px;
    color: #333;
    line-height: 16px;
    text-decoration: none;
    display: block;
    z-index: 6;
    position: relative;
    opacity:1;
}
#menu a:hover {
    text-decoration: underline;
}
