#nav {
    font-size: 1.1em;
    color: #FFF;
    background: #6EAC2C; /* fallback for any browser that doesn't do gradients */
    background: -webkit-gradient(linear, left top, right top, from(#6EAC2C), to(#2191c0))  no-repeat scroll 0 0 #006f7c; /* Saf4+, Chrome */
    background: -webkit-linear-gradient(left, #6EAC2C, #2191c0) no-repeat scroll 0 0 #006f7c; /* Chrome 10+, Saf5.1+ */
    background: -moz-linear-gradient(left, #6EAC2C, #2191c0)  no-repeat scroll 0 0 #006f7c; /* FF3.6+ */
    background: -ms-linear-gradient(left, #6EAC2C, #2191c0)  no-repeat scroll 0 0 #006f7c; /* IE10 */
    background: -o-linear-gradient(left, #6EAC2C, #2191c0)  no-repeat scroll 0 0 #006f7c; /* Opera 11.10+ */
    background: linear-gradient(left, #6EAC2C, #2191c0)  no-repeat scroll 0 0 #006f7c; /* W3C */    border: 1px solid #CCC;
    height: 30px;
    width: 873px;
    margin: auto;
    margin-top: 20px;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
}

#nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#nav ul li {
  float: left;
  margin: 0 0 0 -20px;
  position: relative;
  color: #FFF;
  line-height: 30px;
  height: 30px;
  text-align: center;
  cursor: default;
  background: url("../image/nav-bg_gloss-wave_50_6eac2c_500x100.png") right center;
  width: 245px;
}

#nav ul li.first-child {
  background: url("../image/nav-bg_gloss-wave_50_6eac2c_500x100.png") right center;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  z-index: 4;
  margin: 0;
}

#nav ul li.second-child {
  z-index: 3;
}

#nav ul li.third-child {
  z-index: 2;
}

#nav ul li.last-child {
  z-index: 1;
  background: url("../image/ui-bg_gloss-wave_50_6eac2c_500x100.png") -250px center;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  width: 198px;
  z-index: 1;
}

#nav ul li.disabled {
  background: url("../image/nav-bg_gloss-wave_75_2191c0_500x100.png") right center;
}

#nav ul li.last-child.disabled {
  background: url("../image/ui-bg_gloss-wave_75_2191c0_500x100.png") -250px center;
}

#nav ul li a {
  font-size: 1em;
  color: #FFF;
  text-decoration: none;
}

#nav ul li a:hover {
  text-decoration: underline;
}


