@(title: String)(content: Html)(implicit flash: Flash, request: RequestHeader, user: Option[String])
@if(!request.queryString.contains("partial")) {
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="ru" xml:lang="ru" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">

    <head>
        <title>@title</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <link href="@routes.Assets.at("stylesheets/main.css")" rel="stylesheet" media="screen"/>
        <link href="@routes.Assets.at("stylesheets/menu.css")" rel="stylesheet" media="screen"/>
        <link href="@routes.Assets.at("stylesheets/nav.css")" rel="stylesheet" media="screen"/>

        <link href="@routes.Assets.at("images/favicon.png")" rel="shortcut icon"/>
        <script src="@routes.Assets.at("javascripts/jquery-1.6.4.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/routes")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/site.js")" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
        <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/start/jquery-ui.css" rel="stylesheet" type="text/css"/>

        <script src="@routes.Assets.at("javascripts/customInput.jquery.js")" type="text/javascript"></script>
        <link href="@routes.Assets.at("stylesheets/customInput.css")" rel="stylesheet"/>
        <script src="@routes.Assets.at("javascripts/jquery.tipTip.minified.js")" type="text/javascript"></script>
        <link href="@routes.Assets.at("stylesheets/tipTip.css")" rel="stylesheet"/>

        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.min.js" type="text/javascript"></script>

		<!--[if IE 7]>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/ie7.css")" />
		<![endif]-->
		<!--[if lt IE 7]>
		<link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/ie6.css")" />
		<script type="text/javascript" src="@routes.Assets.at("avascripts/DD_belatedPNG_0.0.8a-min.js")"></script>
		<script type="text/javascript">
		DD_belatedPNG.fix('#logo img');
		</script>
		<![endif]-->
		
		<!-- TODO google analytics -->

    </head>
    <body>
		<div id="container">
        <div id="logo"><img src="@routes.Assets.at("images/logo.png")" alt="@Messages("logo")" title="@Messages("logo")"/></div>
		<div id="header">
          <div id="product"><img src="@routes.Assets.at("images/product.png")" alt="@Messages("product")" title="@Messages("product")"/></div>
          <div id="menu">
            <ul>
              <li><a href="@routes.Application.index">@Messages("text_home")</a></li>
              <li><a href="@routes.Checkout.shipment">@Messages("text_order")</a></li>
              <li><a href="@routes.Account.index">@Messages("text_account")</a></li>
              <li><a href="#">@Messages("text_faq")</a></li>
            </ul>
          </div>
          <div id="welcome">
            @tags.welcome()
          </div>
		  <!--div id="notification"></div-->
		  <div id="content">@content</div>
		  <div id="footer">
		    <ul>
		      <li><a href="#">@Messages("text_affiliate")</a></li>
			  <li><a href="#">@Messages("text_terms")</a></li>
		    </ul>
		  </div>
		  <div id="powered">@Html(Messages("powered"))</div>
		</div>
	</body>
</html>
} else {
@content
@tags.welcome()
}
