<html>
<head>
<link rel="stylesheet" type="text/css" href="catalog/view/theme/wedishop/stylesheet/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="http://localhost/~azhdanov/upload/catalog/view/theme/yogamamadvd/stylesheet/slideshow.css" />
<script type="text/javascript" src="catalog/view/javascript/jquery/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="site.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    request("http://localhost/~azhdanov/upload/?route=account/login&partial=true");
  });
</script>
</head>
<body>
  <div id="eshop">
  </div>
</body>
</html>
