<html>
<head>
<link rel="stylesheet" type="text/css" href="../theme/default/stylesheet/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="../theme/default/stylesheet/slideshow.css" />
<script type="text/javascript" src="../javascript/jquery/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="../javascript/widget.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    //request('#!/route=account/login');
    var m = window.location.toString().match(/test.html(#!.*)$/);
    var l = m ? m[1] : '#!/route=common/home';
    request(l);
  });
</script>
</head>
<body>
  <div id="eshop">
  </div>
</body>
</html>
