<html>
<head>
<link rel="stylesheet" type="text/css" href="../theme/default/stylesheet/stylesheet.css" />
<!--script type="text/javascript" src="../javascript/jquery/jquery-1.6.1.min.js"></script-->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.2.js"></script>
<script type="text/javascript" src="../javascript/jquery/ui/jquery-ui-1.8.16.custom.min.js"></script>
<link rel="stylesheet" type="text/css" href="../javascript/jquery/ui/themes/ui-lightness/jquery-ui-1.8.16.custom.css" />
<script type="text/javascript" src="../javascript/jquery/ui/external/jquery.cookie.js"></script>
<script type="text/javascript" src="../javascript/jquery/fancybox/jquery.fancybox-1.3.4.pack.js"></script>
<link rel="stylesheet" type="text/css" href="../javascript/jquery/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
<!--[if IE]>
<script type="text/javascript" src="../javascript/jquery/fancybox/jquery.fancybox-1.3.4-iefix.js"></script>
<![endif]--> 
<script type="text/javascript" src="../javascript/jquery/tabs.js"></script>
<script type="text/javascript" src="../javascript/common.js"></script>
<script type="text/javascript" src="../javascript/widget.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    //request('#!/route=account/login');
    var m = window.location.toString().match(/test.html(#!.*)$/);
    var l = m ? m[1] : '#!/route=common/home';
    request(l);
  });
</script>
</head>
<body>
  <div id="eshop">
  </div>
</body>
</html>
