<html>
<head>
<link rel="stylesheet" type="text/css" href="../theme/default/stylesheet/stylesheet.css" />
<link rel="stylesheet" type="text/css" href="../theme/default/stylesheet/slideshow.css" />
<script type="text/javascript" src="../javascript/jquery/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="../javascript/widget.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
    request("http://localhost/~azhdanov/upload/?route=account/login&partial=true");
  });
</script>
</head>
<body>
  <div id="eshop">
  </div>
</body>
</html>
