#menu {
    height: 60px;
    font: 14px/20px arial,sans-serif;
    text-align: center;
}

#menu ul {
    border: #CCC 1px solid;
    border-top: 0;
    float: right;
    background-color: #d8e7f3;
    -moz-border-radius-bottomleft:5px;
    border-bottom-left-radius:5px;
    -moz-border-radius-bottomright:5px;
    border-bottom-right-radius:5px;
    padding: 2px;
    margin: 0;
    list-style: none;
}

#menu ul li:nth-child(1) {
    border-right: #CCC 1px solid;
    color: white;
    float: left;
    padding: 5px;
    width: 100px;
    cursor: pointer;
    vertical-align: center;
}
#menu ul li:nth-child(2), #menu ul li:nth-child(3) {
    border-right: #CCC 1px solid;
    float: left;
    padding: 5px;
    width: 100px;
    cursor: pointer;
}
#menu ul li:nth-child(4) {
    float: left;
    padding: 5px;
    width: 110px;
    cursor: pointer;
}
#menu a {
    font-size: 13px;
    color: #333;
    line-height: 16px;
    text-decoration: none;
    display: block;
    z-index: 6;
    position: relative;
    opacity:1;
}
#menu a:hover {
    text-decoration: underline;
}
