<div id="nav">
  <ul>
    <li class=""><a href="#/checkout/shipment">Выбор способа доставки</a></li>

    <li class=""><a href="#/checkout/payment">Выбор способа оплаты</a></li>

    <li class=""><a href="#/checkout/product">Выбор курса</a></li>

    <li class=""><a href="#/checkout/checkout">Заказ</a></li>
  </ul>
</div>

<div class="checkout-cart-content">
  <div class="left">
    <h2 style="background: left top url(catalog/view/theme/yogamamadvd/image/basket.png) no-repeat; padding-left: 28px;">Корзина</h2>
    <div class="product-grid content">
      {{each(i, product) products}}
      {{var selected = app.cart('items')[product.product_id] }}
      <div id="selected-${product.product_id}" {{if !selected }} style="display:none" {{/if}}>
        {{if typeof thumb != 'undefined'}}
        <div class="image"><a href="${product.url}"><img src="${product.thumb}" title="${product.name}" alt="${product.name}" id="image${product.product_id}" /></a></div>
        {{/if}}
        <div class="name"><a href="${product.url}">${product.name}</a></div>
        <div class="price">
        <label>Цена:</label>
        {{if price}}
          {{if typeof special == 'undefined'}}
          ${product.price}
          {{else}}
          <span class="price-old">${product.price}</span> <span class="price-new">${product.special}</span>
          {{/if}}
        {{/if}}
        </div>
        <div class="quantity">
          <label for="count_disc11">Количество:</label>
          <select id="selected-qty-${product.product_id}" class="select_qty selected-qty" productId="${product.product_id}">
            {{each [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]}}
            <option value="${$value}" {{if selected && selected.quantity == $value }}selected="true"{{/if}}>${$value}</option>
            {{/each}}
          </select> шт.
        </div>
        <div class="remove"><a class="ui-icon ui-icon-trash removeFromCart" title="Убрать из корзины" productId="${product.product_id}">Убрать из коризны</a></div>
      </div>
      {{/each}}
    </div>
  </div>

  <div class="right">
    <h2 style="background: left top url(catalog/view/theme/yogamamadvd/image/package.png) no-repeat; padding-left: 28px;">Заказ</h2>
    <div class="content">
      <div class="cart-total">
        <table>
          {{each(i, total) app.cart("totals")}}
          <tr>
            <td>${total.title}:</td>
            <td>${i18n('format_price', total.value)}</td> <!-- ${total.text} -->
          </tr>
          {{/each}}
        </table>
      </div>
      <div class="cart-details">
        <table width="100%">
          <tr>
            <td>Способ оплаты:</td>
            <td><select id="payment" class="box">
              {{each(i, gateway) gateways}}
              {{if app.cart('shipment') != 'download' || $.inArray('ondelivery', gateway.categories) == -1 }}
              {{var value = gateway.name}}
              {{var payment = app.cart("payment")}}
              <option value="${value}" {{if payment == value}}selected="true"{{/if}}>${i18n('pgw_' + value)}</option>
              {{/if}}
              {{/each}}
              </select></td>
          </tr>
          <tr>
            <td>Способ доставки:</td>
            <td><select id="shipment" class="box">
              {{each ['download', 'ship']}}
                <option value="${$value}" {{if app.cart('shipment') == $value}}selected="true"{{/if}}>${i18n('shipment_' + $value)}</option>
              {{/each}}
            </select>
            </td>
          </tr>
          {{if !(app.cart('shipment') == 'download' && app.connected())}}
            <tr>
              <td colspan="2"></td>
            </tr>
            {{if app.connected()}}
            <tr>
              <td>Адрес доставки:</td>
              {{if !$.isEmptyObject(address)}}
              <td>${app.connected().firstname} ${app.connected().lastname}</td>
            </tr>
            <tr>
                <td><a onclick="$('#dialog').dialog('open')" style="float: right; padding-right: 20px">Изменить</a></td>
              <td>${address.address_1}</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>${address.city}</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>${address.zone}</td>
            </tr>
            <tr>
              <td></td>
              <td>${address.country} ${address.postcode}</td>
              {{else}}
              <td><a onclick="$('#dialog').dialog('open')">Ввести</a></td>
              {{/if}}
            </tr>
            {{else}}
            <tr>
              {{var url = '#/checkout/checkout' }}
              <td colspan="2">{{html i18n('text_welcome', '#/account/login?_url=' + escape(url), '#/account/register?_url=' + escape(url))}}</td>
            </tr>
            {{/if}}
          {{/if}}
        </table>
      </div>
    </div>

    <div class="buttons">
      <form action="#/checkout/checkout" method="post" enctype="multipart/form-data" id="checkout"></form>
      <a onclick="$('#checkout').submit()" class="button"><span>Оформить заказ</span></a>
    </div>
  </div>
</div>

<div>
<h2>Курс</h2>
<div class="product-list">
  {{each(i, product) products}}
  <div id="available-${product.product_id}" {{if app.cart('items')[product.product_id] }} style="display:none" {{/if}}>
    {{if typeof thumb != 'undefined'}}
    <div class="image"><a href="${product.url}"><img src="${product.thumb}" title="${product.name}" alt="${product.name}" id="image${product.product_id}" /></a></div>
    {{/if}}
    <div class="price">
      <label>Цена:</label>
      {{if price}}
        {{if !product.special}}
          ${product.price}
        {{else}}
        <span class="price-old">${product.price}</span> <span class="price-new">${product.special}</span>
        {{/if}}
      {{/if}}
      <div class="quantity">
        Количество:
        <select id="available-qty-${product.product_id}" class="select_qty">
          {{each [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]}}
          <option value="${$value}" {{if !$index}}selected="true"{{/if}}>${$value}</option>
          {{/each}}
        </select> шт.
      </div>
      <div class="buttons"><a productId="${product.product_id}" class="button addToCart"><span>Добавить в корзину</span></a></div>
    </div>
    <div class="name"><a href="${product.url}">${product.name}</a></div>
    <div class="description">{{html product.description.substring(0, 250)}}</div>
  </div>
  {{/each}}
</div>

{{if !$('#dialog')[0]}}
<div id="dialog" style="display: none">
</div>
{{/if}}

<script type="text/javascript">
$('#dialog').dialog({ autoOpen: false, modal: true }).dialog('close');

$('a.addToCart').click(function() {
  var productId = $(this).attr('productId');
  var quantity = $('select#available-qty-' + productId).val();
  var qties = {};
  qties['qties.' + productId] = quantity;
  app.trigger('updateCart', {products: productId, qties: qties, callback: function() {
    $('select#selected-qty-' + productId).val(quantity);
    $('#available-' + productId).fadeOut();
    $('#selected-' + productId).fadeIn();
    $('div.cart-total').tmplItem().update();
  }})
});

$('select.selected-qty').change(function() {
  var productId = $(this).attr('productId');
  var quantity = $(this).val();
  var qties = {};
  qties['qties.' + productId] = quantity;
  app.trigger('updateCart', {products: productId, qties: qties, callback: function() {
    $('div.cart-total').tmplItem().update();
  }})
});

$('a.removeFromCart').click(function() {
  var productId = $(this).attr('productId');
  app.trigger('updateCart', {products: productId, callback: function() {
    $('#selected-' + productId).fadeOut();
    $('#available-' + productId).fadeIn();
    $('div.cart-total').tmplItem().update();
  }})
});

$('select#payment').change(function() {
  var payment = $(this).val();
  app.trigger('updateCart', {payment: payment, callback: function() {
    $('div.content').tmplItem().update();
  }})
});

$('select#shipment').change(function() {
  var shipment = $(this).val();
  app.trigger('updateCart', {shipment: shipment, callback: function() {
    $('div.content').tmplItem().update();
  }})
});
</script>
