<div id="nav">
  <ul>
    <li class=""><a href="#/checkout/shipment">Выбор способа доставки</a></li>

    <li class=""><a href="#/checkout/payment">Выбор способа оплаты</a></li>

    <li class=""><a href="#/checkout/product">Выбор курса</a></li>

    <li class="disabled">Заказ</li>
  </ul>
</div>
    
  <h2>Курс</h2>

  <form action="#/checkout/product" method="post" enctype="multipart/form-data" id="cart">

  <p>Курс можно выбрать для всех или некоторых триместров:</p>

  <div class="warning" style="display: none">${i18n('error_product')}</div>

  <div class="product-list">
  {{each(i, product) products}}
  {{var selected = app.cart("items") ? app.cart("items")[product.product_id] : undefined }}
    <div>
      <input id="product-${product.product_id}" type="checkbox" value="${product.product_id}" name="products" style="display: none"
       {{if selected }}checked="true"{{/if}}>
      <label for="product-${product.product_id}" style="padding: 20px; margin-top: 30px; float: left;"></label>
        <div>
          <div class="left">
            {{if product.thumb}}
            <div class="image"><a href="#/product/${product.product_id}"><img src="${product.thumb}" title="${product.name}" alt="${product.name}" id="image${product.product_id}" /></a></div>
            {{/if}}
            <div class="price">
            Цена:
            {{if product.price}}
              {{if !product.special}}
              ${i18n('format_price', product.price)} 
              {{else}}
              <span class="price-old">${i18n('format_price', product.price)}</span> <span class="price-new">${i18n('format_price', product.special)}</span>
              {{/if}}
            {{/if}}
            <div class="quantity">
              Количество:
              <select name="qties.${product.product_id}" class="select_qty">
                {{each [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]}}
                <option value="${$value}" {{if selected && selected.quantity == $value }}selected="true"{{/if}}>${$value}</option>
                {{/each}}
              </select> шт.
            </div>
            </div>
            <div class="name"><a href="@{Catalog.show(product.product_id)}">${product.name}</a></div>
            <div class="description">${product.description}</div>
          </div>
        </div>
      </label>
    </div>
  {{/each}}
  </div>
  <div class="buttons">
    <a onclick="$('#cart').submit();" class="button"><span>${i18n('button_checkout')}</span></a>
  </div>

  </form>

<script type="text/javascript">
  $('input').customInput();

  $("#cart").validate({
    rules: {
      products: "required"
    },
    errorPlacement: function(error, element) {
      $('div.warning').show().delay(3000).fadeOut();
    },
    onkeyup: false
  });
</script>
  

