{{if type == 'account'}}
<div id="content">
  <h1>${i18n('heading_login')}</h1>
  <div class="warning" style="display: none">${i18n('secure.error')}</div>
  <div class="login-content">
    <div class="left">
      <h2>${i18n('text_new_customer')}</h2>
      <div class="content">
        <p><b>${i18n('text_register')}</b></p>
        <p>${i18n('text_register_account')}</p>
        <a href="#/account/register" class="button"><span>${i18n('button_continue')}</span></a></div>
    </div>
    <div class="right">
{{/if}}

<h2>${i18n('text_returning_customer')}</h2>
<form action="#/account/login" method="post" enctype="application/x-www-form-urlencoded" accept-charset="utf-8" id="login${type}">
  <div class="content" style="padding-top: 15px">
    {{if type != 'shipment'}}<p><b>${i18n('text_i_am_returning_customer')}</b></p>{{/if}}
    <span style="float: left; width: 100px"><label for="username">${i18n('entry_email')}</label></span>
    <input type="text" name="username" value="${params.username}" tabindex="1" {{if type == 'account'}}autofocus="true"{{/if}}/>
    <input type="checkbox" name="remember" id="remember" value="true" ${flash.remember ? 'checked="true"' : ''} />
    <label for="remember">${i18n('secure.remember')}</label>
    <br /> <br />
    <span style="float: left; width: 100px"><label for="password">${i18n('entry_password')}</label></span>
    <input type="password" name="password" class="" tabindex="2"/>
    &nbsp;<a href="#">${i18n('text_forgotten')}</a>
    <br />
    <br />
    <a onclick="$('#login${type}').submit();" class="button" tabindex="3"><span>${i18n('button_login')}</span></a>
  </div>
</form>

{{if type == 'account'}}
    </div>
  </div>
</div>
{{/if}}

<script type="text/javascript">
  $('input[autofocus]').first().focus();
   
  $('#login${type} input').keydown(function(e) {
    if (e.keyCode == 13) {
      $('#login${type}').submit();
    }
  });

  var validator = $("#login${type}").validate({
    rules: {
      username: {
        required: true,
        email: true
      },
      password: "required"
    },
    messages: {
      username: i18n('error_username'),
      password: i18n('error_login_password')
    },
    errorPlacement: function(error, element) {
      error.insertBefore( element.prev() );
    },
    onkeyup: false
  });

</script>