@(form: Form[(String, String, Boolean, String)], returnUrl: String)(implicit flash: Flash, request: RequestHeader, user: Option[String])

@main(Messages("heading_login")) {

  <h1>@Messages("heading_login")</h1>
  @form.globalError.map { error =>
    <div class="warning">
        @error.message
    </div>
  }

  @flash.get("success").map { message =>
    <div class="success">
        @message
    </div>
  }
        
  <div class="login-content">
    <div class="left">
      <h2>@Messages("text_new_customer")</h2>
      <div class="content">
        <p><b>@Messages("text_register")</b></p>
        <p>@Messages("text_register_account")</p>
        <a href="@routes.Account.register" class="button"><span>@Messages("button_continue")</span></a></div>
    </div>
    <div class="right">
        @tags.login(form, returnUrl)
    </div>
  </div>
    
}